{% extends 'base_dash.html' %}
{% load static %}
{% block content %}
<style> 
.edit{
    color: green;
    background-color: white;
    text-decoration: none;
}

.edit:hover{
    color: #000;
    background-color:  none;
}

.button{
    padding: 12px 28px;
    border:none
    background-color: blue;
}
</style>
    <div class="container-fluid page-body-wrapper">
        {% include 'dashboard/sidebar.html' %}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                               <h4 class="card card-body card-title">Medinos Expense Tracker</h4>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">User Details</h4>
                            <p class = "card-description"style = "text-align: right; font-size: small;"> 
                                {% comment %} <code>Please Provide your Information <strong><i class="ti-arrow-right"></i></strong> </code>  {% endcomment %}
                                {% comment %} <a class = "edit" href ="">Please Update Details</a></p> {% endcomment %}
                                <form class="form-sample"> 
                                {% include 'partials/_messages.html' %}
                            <div class="row">  
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Username</label>
                                        <div class="col-sm-9">
                                            <input type="text" value="{{Full_Name}}" class="form-control" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="text" value="{{Email}}" class="form-control" readonly/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
     <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                    <b> &copy; <script>document.write(new Date().getFullYear());</script> | OLANEYE
                    </b>
                </span>
            </div>
        </footer>
{% endblock %}